.content-wrap {
    overflow: hidden;
    max-width: 1044px;
    margin: 20px auto;
}

@media screen and (max-width: 1060px) {
    .content-wrap {
        display: flex;
        justify-content: center;
    }
}

.post-list-wrap {
    float: left;
    box-sizing: border-box;
    width: 728px;
}
.post-header-wrap {
    display: flex;
    flex-direction: column;
}


.post-header {
    display: flex;
    width: 728px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    padding: 17.5px 0;
}

.post-editor-wrap {
    flex-basis: 20%;
}

.post-editor-button {
    background-color: transparent;
    border: 0;
    float: right;
    margin-right: 10px;
}

.post-search-wrap {
    flex-basis: 80%;
    display: flex;
}

.post-search-select {
    border-radius: 4px;
    margin-left: 10px;
    width: 15%;
    padding: 5px 0 6px 8px;
}

.post-search-input {
    margin-left: 5px;
    border-width: 1px;
}

.post-search-button {
    background-color: transparent;
    border:0;
    line-height: 100%;
}

.post-search-button > img {
    background-color: transparent;
}


.search-image {
    margin-top: 3px;
    width: 23px;
}

.post-sortbox-wrap {
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.post-sortbox {
    padding: 10px 10px;
    margin: 5px 5px;
}

.post-sortbox:hover {
    background-color: #f6f6f6;
}

.post-sortbox > span {
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    font-size: 20px;
    padding-left: 5px;
}
.post-sortbox > img {
    vertical-align: middle;
}


@media only screen and (min-width: 1024px) {
    .post-list-item-content {
        min-height: 76px;
    }
}

.post-list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.post-item-container {
    display: flex;
    height: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.post-item-container:hover {
    background-color: #f6f6f6;
}

.post-item-vote {
    flex-basis: 10%;
    display:flex;
    align-items: center;
    padding-left: 10px;
}
.post-item-vote > img {
    margin-right: 5px;
}

.post-item-content {
    flex-basis: 57%;
    display:flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-item-content > a {
    color: #000000;
}

.comment-count {
    color: #46cfa7;
}

.post-item-date {
    flex-basis: 13%;
    display:flex;
    align-items: center;
    padding-left: 10px;
}
.post-item-user {
    flex-basis: 20%;
    display:flex;
    align-items: center;
}

.post-paging {
    float: right;
    width:100%;
    margin-top: 10px;
}

.page-item > a {
    color: #000000;
}
