@media screen and (max-width: 1060px) {
    .sidebar {
        display:none;
    }
}

.sidebar {
    float: left;
    width: 300px;
    margin-right: 10px;
}

.sidebar-content-wrap {
    position: static;
    background: #ffffff;
    width: 300px;
    padding-bottom: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.sidebar-header {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-wrap {
    border-radius: 4px;
    margin: 4px;
    padding: 10px 0;
    display: flex;
}

.profile-img > img {
    width: 54px;
    height: 59px;
}

.profile-content-wrap {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-basis:100%;
}

.profile-username {
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 90%;
    display: flex;
}

.profile-username > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-button {
    width: 100%;
}

.sidebar-button-item {
    padding: 0 4px;
}

.sidebar-button-item > .button {
    display:block;
    padding: 10px 0 10px;
    line-height: 17px;
    font-size: 17px;
    text-align: center;
    border-color: #000000;
    background-color: #000000;
    border-radius: 4px;
    color: #ffffff;
}

.sidebar-button-item > .button:hover {
    background-color: #424242;
}

.sidebar-menu {
    border-top: 1px solid #ebeef1;
    padding: 16px 16px 16px;
}

.sidebar-menu-item {
    line-height: 17px;
    font-size: 20px;
    color: #1e2022;
    border-radius: 4px;
}

.sidebar-menu-item > a {
    padding: 16px 12px 16px;
    display: block;
    color: #000000;
}

.sidebar-menu-item > a:hover {
    background-color: #f6f6f6;
}