/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* from here */
a {
    text-decoration: none;
}


body {
    background-color:white;
}

a:hover {
    color:rgba(65, 105, 225, 0.836);
}

.logo {
    margin-top: 10%;
    display: inline-block;
}

.logo > img {
    width: 400px;
    height: 400px
}

/* Extra Small Devices, Phones : ~ 480px */
@media only screen and (max-width : 480px) {
    .logo > img {
        width: 200px;
        height: 200px
    }
}

.l-container {
    width : 80%;
    margin: 0 auto;
    text-align: center;
}

.search-text {
    width: 50%;
    margin: auto auto;
    font-size:15px;
}

/* Small Devices, Tablets : ~ 768px */
@media screen and (max-width : 768px) {
    .search-text {
        width: 80%;
        margin: auto auto;
        font-size:15px;
     }
    }

.search-button {
    display: inline-block;
    height:100%;
    background-color: rgba(0, 0, 0, 0);
    border-width:0;
    padding-top: 10px;
}

.search-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.search-icon {
    height: 20px;
}

.search-form {
    margin-top : 10px;
}

/*
.footer {
    display: flex;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.411);
    font-weight: 100;
    font-size: large;
}*/


.empty {
    height: 100px;
}

.nav-item {
    font-weight: 100;
}

.footer{

    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 0;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}