/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*from here*/
a {
    text-decoration: none;
}

.home-image {
    display: inline-block;
    height: 150px;
    width: 150px;
}
body {
    background-color:white;
}

.footer {
    display: flex;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.411);
    font-weight: 100;
    font-size: large;
}
.footer-item{
    margin-top: 20px;
}

a:hover {
    color:rgba(65, 105, 225, 0.836);
}

.logo {
    margin-top: 10%;
}

.logo > img {
    width: 400px;
    height: 400px
}

.l-container {
    width : 80%;
    margin: 0 auto;
    text-align: center;
}

.logo {
    display: inline-block;
}

.search-text
{
    width: 50%;
    height: 40px;
    color:rgba(8, 12, 26, 0.815);
    border-width: 4px;
    border-radius: 1px;
    font-size:15px;
}

.search-button {
    display: inline-block;
    height:100%;
    background-color: rgba(0, 0, 0, 0);
    border-width:0;
    padding-top: 10px;
}

.search-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.search-icon {
    height: 20px;
}

.search-form {
    margin-top : 10px;
}

