{% extends 'base.html' %}
{% load static %}
{% load community_filter %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'community/css/post_list.css' %}">
{% endblock css_link %}


{% block content %}

<div class="content-wrap">
    <!-- side bar -->
    {% include "sidebar.html" %}
    <!-- content start -->
    <div class="post-list-wrap">
        <!-- post header start -->
        <div class="post-header-wrap">
            <div class="post-header">
                <div class="post-search-wrap">
                    <select name="target" class="form-select-sm post-search-select target">
                        <option value="subject">
                            제목
                        </option>
                        <option value="content">
                            내용
                        </option>
                        <option value="user_name">
                            작성자
                        </option>
                    </select>
                    <input type="text" name="keyword" class="form-control-sm post-search-input keyword" placeholder="검색"
                           value="{{ keyword|default_if_none:'' }}">
                    <button class="post-search-button" id="search_button">
                        <img src="{% static 'community/images/search-icon.png'%}" class="search-image" alt="검색">
                    </button>
                </div>
                <div class="post-editor-wrap">
                    <form action="{% url 'community:editor' %}" method="get" id="post-editor">
                        {% csrf_token %}
                        <button class="post-editor-button">
                            <img src="{% static 'community/images/pencil.png'%}" width="28" >
                        </button>
                    </form>
                </div>
            </div>
            <div class="post-sortbox-wrap">
                <div class="post-sortbox" href="#" data-sort="recent">
                    <img src="{% static 'community/images/time-icon.png' %}" width="20">
                    <span>최신순</span>
                </div>
                <div class="post-sortbox" href="#" data-sort="popular">
                    <img src="{% static 'community/images/popular-icon.png' %}" width="20">
                    <span>인기순</span>
                </div>
            </div>
        </div>
        <!-- post header end-->
        <!-- post content start -->
        {% if post_list %}
            <div class="post-list-container">
                {% for post in post_list %}
                <div class="post-item-container">
                    <div class="post-item-vote">
                        <img src="{% static 'community/images/vote-icon.png'%}" width="14" >
                        <span>{{ post.voter.count }}</span>
                    </div>
                    <div class="post-item-content">
                        <a href="{% url 'community:detail' post.id %}">
                            <span class="post-title">{{ post.subject }}</span>
                            {% if post.comment_set.count > 0 %}
                            <span class="comment-count">[{{ post.comment_set.count }}]</span>
                            {% endif %}
                        </a>
                    </div>
                    <div class="post-item-date">
                        <span>{{ post.create_date|elapse_date }}</span>
                    </div>
                    <div class="post-item-user">
                        <span>{{ post.author.username }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- post content end -->
        <!-- post page start -->
        <div class="post-paging">
            <ul class="pagination justify-content-center">
                <!-- previous page -->
                {% if post_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="#" data-page="{{ post_list.previous_page_number }}">◀</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">◀</a>
                </li>
                {% endif %}
                <!-- page list -->
                {% for page_number in post_list.paginator.page_range %}
                    {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
                        {% if page_number == question_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#" data-page="{{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="#" data-page="{{ page_number }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <!-- next page -->
                {% if post_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="#" data-page="{{ post_list.next_page_number }}">▶</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">▶</a>
                </li>
                {% endif %}
            </ul>
        </div>
         <!-- post page end -->
    </div>
    <!-- content end -->
</div>
<form id="searchForm" method="get" action="{% url 'community:list' %}">
    <input type="hidden" id="target" name="target">
    <input type="hidden" id="keyword" name="keyword" value="{{ keyword|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="type" name="type" value="{{ type }}">
    <input type="hidden" id="sort" name="sort" value="{{ sort }}">
</form>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'community/js/post_list.js' %}"></script>
{% endblock %}