{% extends 'base.html' %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'community/css/post_detail.css' %}">
{% endblock css_link %}


{% block content %}
<div class="content-wrap">
    {% include "sidebar.html" %}
    <!-- content start -->
    <div class="post-detail-wrap">
        <!-- post header start -->
        <div class="detail-header-wrap">
            <div class="detail-header-title">
                {{ post.subject }}
            </div>
            <div class="detail-header-meta">
                <div class="header-page">
                    자유
                </div>
                <div class="header-date">
                    몇분 전
                </div>
                <div class="header-user">
                    {{ post.user_name }}
                </div>
                <div class="header-info">
                    <div class="header-info-item">
                        조회 180
                    </div>
                    <div class="header-info-item">
                        댓글 {{ post.comment_set.count }}
                    </div>
                    <div class="header-info-item">
                        추천 {{ post.vote }}
                    </div>
                </div>
            </div>
        </div>
        <!-- post header end -->
        <div class="detail-content-wrap">
        {{ post.content }}
        </div>

        <form action="{% url 'community:comment_create' post.id %}" method="post">
            {% csrf_token %}
            <textarea name="content" id="content" rows="15"></textarea>
            <input type="submit" value="답변등록">
        </form>

        <h5>{{ post.comment_set.count }}개의 답변이 있습니다.</h5>

        <div id="comment-wrap">
            <ul class="list-group">
                {% for comment in post.comment_set.all %}
                    <li class="list-group-item">{{ comment.content }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock content %}