{% extends "base.html" %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'common/css/password_reset.css' %}">
{% endblock css_link %}

{% block content %}
<div class="password-wrap">
    <div class="password">
        <div class="password-header">
            <div class="password-header-title">
                비밀번호 분실
            </div>
        </div>
        <div class="password-content">
            <div class="description">
                비밀번호 재설정을 위해 회원가입시 등록했던 이메일 주소를 입력하세요.
            </div>
            <form method="post" class="post-form">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="form-group">
                    <label for="username">아이디</label>
                    <input type="text" class="form-control" name="username" id="username"
                           value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="text" class="form-control" name="email" id="email"
                           value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <div class="form-button-wrap">
                    <div class="form-button">
                        <button type="submit" class="btn btn-primary">제출</button>
                    </div>
                </div>
            </form>
            <div class="back-login">
                <a href="{% url 'common:login' %}">로그인으로 돌아가기</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}