{% extends "base.html" %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'common/css/password_reset.css' %}">
{% endblock css_link %}

{% block content %}
<div class="password-wrap">
    <div class="password">
        <div class="password-header">
            <div class="password-header-title">
                비밀번호 분실
            </div>
        </div>
        <div class="password-content">
            {% if validlink %}
            <form method="post" class="post-form">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <div class="form-group">
                    <label for="new_password1">새로운 비밀번호</label>
                    <input type="password" class="form-control" name="new_password1" id="new_password1">
                </div>
                <div class="form-group">
                    <label for="new_password2">새로운 비밀번호 확인</label>
                    <input type="password" class="form-control" name="new_password2" id="new_password2">
                </div>
                <div class="form-button-wrap">
                    <div class="form-button">
                        <button type="submit" class="btn btn-primary">변경하기</button>
                    </div>
                </div>
            </form>
            {% else %}
            <div>링크가 유효하지 않습니다.</div>
            {% endif %}
            <div class="back-login">
                <a href="{% url 'common:login' %}">로그인으로 돌아가기</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}