{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title-->
    <title>{% block title %}{% endblock title%}</title>
    <!--google font-->
    {% include "font.html" %}
    <!--bootstrap css-->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <!--link css-->
    {% block css_link %}
    {% endblock css_link %}
    <!--font apply-->
    <style>
        body { font-family: "Roboto", "Noto Sans KR", sans-serif; }
    </style>

</head>

<body>
<!-- navigation bar-->
{% include "nav.html" %}

<!-- main content start -->
{% block content %}

{% endblock content %}
<!-- main content end -->

<!--footer-->
{% include "footer.html" %}

<!--jQuery-->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap js-->
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>



{% block script %}
<!-- link javascript-->
{% endblock script %}
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@5/dist/tippy-bundle.iife.js"></script>
</body>
</html>