{% load static %}
<!--navbar start-->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <!--logo-->
        <a class="navbar-brand" href="/">
            <!-- <img src="{% static 'images/home-logo.png' %}" alt="sorae.gg" width="120px" height="100px"> -->
            <h1 class='me-3' style="font-family: 'Poppins', sans-serif; font-weight: 200; font-size: 50px;">SORAE.GG</h1>
        </a>
        <!--logo-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
         
            <li class="nav-item fs-2">
                <a class="nav-link active" aria-current="page" href="{% url 'community:index' %}">Community</a>
            </li>
            <!--
            <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
            </li>
         -->
        </ul>
        </div>
    </div>
</nav>
<!--navbar end-->