<!-- sidebar -->
<div class="sidebar">
    <div class="sidebar-content-wrap">
        <div class="sidebar-header">
            <div class="sidebar-button">
                <div class="sidebar-button-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'common:logout' %}" class="button">Logout</a>
                    {% else %}
                    <a href="{% url 'common:login' %}" class="button">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul class="sidebar-menu-list">
                    <!--
                    <li class="sidebar-menu-item">
                        <a href="#">개발자 소식</a>
                    </li>
                    -->
                    <li class="sidebar-menu-item">
                        <a href="#">자유 게시판</a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="#">버그 및 건의</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>