{% load summoner_filter %}

<div class="detail-record">
            <div class="team-container my-3">
                <div class="red-team team-info">
                    <div class="team-name fs-1 mx-auto">블루팀</div>
                    <div class="game-result fs-1 mx-auto my-3" style="color: royalblue;">패배</div>
                    
                    <div class="detail-table-wrap">
                        <table class="table detail-table">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col" style="width:110px;">챔피언</th>
                                    <th class="text-center" scope="col" style="width:7%;">소환사</th>
                                    <th class="text-center" scope="col">Score</th>
                                    <th class="text-center" scope="col">KDA</th>
                                    <th class="text-center" scope="col">딜량</th>
                                    <th class="text-center" scope="col">시야점수</th>
                                    <th class="text-center" scope="col">CS</th>
                                    <th class="text-center" scope="col">아이템</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- one row start -->
                                {% for p in blue %}
                                <tr>
                                    <td class="champ-info">
                                        <div class="img-level d-inline">
                                            <img class="champ rounded-circle" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/champion/{{p.champ_name}}.png">
                                            <div class="level rounded-circle">
                                                {{p.champ_level}}
                                            </div>
                                        </div>
                                        <div class="d-inline-flex justify-content-between align-top">
                                            <div class="d-flex flex-column spell-box">
                                                <img class="spell rounded" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/spell/SummonerTeleport.png">
                                                <img class="spell rounded" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/spell/SummonerFlash.png">
                                            </div>
                                            <div class="d-flex flex-column m1-1 rune-box">
                                                <img class="rune rounded" src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/Resolve/GraspOfTheUndying/GraspOfTheUndying.png">
                                                <img class="rune rounded" src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7202_Sorcery.png">
                                            </div>
                                            
                                        </div>
                                    </td>
                                    <td class="summoner-name align-top text-center">
                                        <a class="name" href="./?userName={{p.summoner_name}}" target="_blank">{{p.summoner_name}}</span>
                                    </td>
                                    <td class="score align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="score-text text-center">7.0</span>
                                            <p class="score-rank text-center mt-2">1등</span>
                                        </div>
                                    </td>
                                    <td class="KDA align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="kda-num text-center kdaOver3">3.50:1</p>
                                            <div class="kda-detail mt-2 text-center">
                                                <span class="kda">{{p.kill}}/{{p.death}}/{{p.assist}}</span>
                                                <span class="kill-part">(50%)</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="damgae align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="damage-chart text-center">{{p.total_damage}}</span>
                                            <p class="damage-rank text-center mt-2">3등</span>
                                        </div>
                                    </td>
                                    <td class="vision-score align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="score text-center">{{p.vision_score}}</p>
                                            <p class="score-per-min mt-2 text-center">1.2 vision/분</p>
                                        </div>
                                    </td>
                                    <td class="CS align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="cs-num text-center">{{p.minion_kill|eval_cs:p.jungle_kill}}</p>
                                            <p class="cs-per-min mt-2 text-center">7.2 cs/분</p>
                                        </div>
                                    </td>
                                    <td class="items align-top text-center">
                                         <div class="d-inline-flex flex-column" style="min-width: 66px">
                                            <div class="itemRow1 d-flex">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item0}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item1}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item2}}.png">
                                            </div>
                                            <div class="itemRow2 d-flex">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item3}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item4}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item5}}.png">
                                            </div>
                                        </div>   
                                    </td>
                                </tr>
                                {% endfor %}
                                <!-- one row end -->
                                
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="team-container my-3">
                <div class="blue-team team-info">
                    <div class="team-name fs-1 mx-auto">레드팀</div>
                    <div class="game-result fs-1 mx-auto my-3" style="color: crimson;">승리</div>
                    
                    <div class="detail-table-wrap">
                        <table class="table detail-table">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col" style="width:110px;">챔피언</th>
                                    <th class="text-center" scope="col" style="width:7%;">소환사</th>
                                    <th class="text-center" scope="col">Score</th>
                                    <th class="text-center" scope="col">KDA</th>
                                    <th class="text-center" scope="col">딜량</th>
                                    <th class="text-center" scope="col">시야점수</th>
                                    <th class="text-center" scope="col">CS</th>
                                    <th class="text-center" scope="col">아이템</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- one row start -->
                                {% for p in red %}
                                <tr>
                                    <td class="champ-info">
                                        <div class="img-level d-inline">
                                            <img class="champ rounded-circle" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/champion/{{p.champ_name}}.png">
                                            <div class="level rounded-circle">
                                                {{p.champ_level}}
                                            </div>
                                        </div>
                                        <div class="d-inline-flex justify-content-between align-top">
                                            <div class="d-flex flex-column spell-box">
                                                <img class="spell rounded" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/spell/SummonerTeleport.png">
                                                <img class="spell rounded" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/spell/SummonerFlash.png">
                                            </div>
                                            <div class="d-flex flex-column m1-1 rune-box">
                                                <img class="rune rounded" src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/Resolve/GraspOfTheUndying/GraspOfTheUndying.png">
                                                <img class="rune rounded" src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7202_Sorcery.png">
                                            </div>
                                            
                                        </div>
                                    </td>
                                    <td class="summoner-name align-top text-center">
                                        <a class="name" href="./?userName={{p.summoner_name}}" target="_blank">{{p.summoner_name}}</span>
                                    </td>
                                    <td class="score align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="score-text text-center">7.0</span>
                                            <p class="score-rank text-center mt-2">1등</span>
                                        </div>
                                    </td>
                                    <td class="KDA align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="kda-num text-center kdaOver3">3.50:1</p>
                                            <div class="kda-detail mt-2 text-center">
                                                <span class="kda">{{p.kill}}/{{p.death}}/{{p.assist}}</span>
                                                <span class="kill-part">(50%)</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="damgae align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="damage-chart text-center">{{p.total_damage}}</span>
                                            <p class="damage-rank text-center mt-2">3등</span>
                                        </div>
                                    </td>
                                    <td class="vision-score align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="score text-center">{{p.vision_score}}</p>
                                            <p class="score-per-min mt-2 text-center">1.2 vision/분</p>
                                        </div>
                                    </td>
                                    <td class="CS align-top">
                                        <div class="d-flex flex-column justify-content-between">
                                            <p class="cs-num text-center">{{p.minion_kill|eval_cs:p.jungle_kill}}</p>
                                            <p class="cs-per-min mt-2 text-center">7.2 cs/분</p>
                                        </div>
                                    </td>
                                    <td class="items align-top text-center">
                                         <div class="d-inline-flex flex-column" style="min-width: 66px">
                                            <div class="itemRow1 d-flex">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item0}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item1}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item2}}.png">
                                            </div>
                                            <div class="itemRow2 d-flex">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item3}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item4}}.png">
                                                <img class="item rounded m-item" src="https://ddragon.leagueoflegends.com/cdn/12.3.1/img/item/{{p.item5}}.png">
                                            </div>
                                        </div>   
                                    </td>
                                </tr>
                                <!-- one row end -->
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>