{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if user.summoner_name %}
 소환사 : {{ user.summoner_name }}
{% else %}
 소환사 정보 없음
{% endif %} 
{% endblock title %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/summoner.css' %}">
{% endblock css_link %}


{%block content%}
<div class="container-fluid">

    <!-- search box -->
    <div class="serach-box">
        <form class="search-form" action = "/api/" method="get" autocomplete="off">
            {% csrf_token %}
            <div class="input-group input-group-sm mb-3 summoner-search-box">
                <span class="input-group-text" id="inputGroup-sizing-default">소환사명</span>
                <input type="text" name="userName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
                <button type="submit" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'images/search-icon.png' %}" class="search-icon">
                </button>
            </div>
        </form>
    </div>
    <!-- search box end -->

{% if user.summoner_name %} <!-- 소환사 정보가 존재하면 -->

    <!--소환사 정보 Start-->

    <!-- 레벨 및 아이콘-->
    <div class="summoner-info mt-4">
        <p class="text-center">
            <span class="summonerName fs-1">{{ user.summoner_name }}</span>
        </p>
        <div class="icon-frame mt-3 text-center">
            <!--summoner icon-->
            <img class="summonerIcon rounded-circle" src="http://ddragon.leagueoflegends.com/cdn/12.2.1/img/profileicon/{{user.summoner_icon}}.png">
        </div>
        
        <p class="summonerLevel bg-dark rounded-pill text-center py-1" style="color: white;">{{user.summoner_level}}</p>
    </div>

    <!-- solo-rank info / free-rank info -->
    <!--solo rank-->
    <div class="rank-info my-5">
        <div class="rank-wrap">
            <div class="rank-box solo-rank">
                {% if tier.solo_rank|length > 0 %} <!--if summoner is ranked-->
                <p class="text-center my-2 fs-5">솔로랭크</p>
                <p class="text-center my-2 fs-3 tier-name">
                    <span class="soloRank">{{ tier.solo_tier }}</span>
                    <span class="soloTier"> {{ tier.solo_rank }}</span><br>
                    <span class="soloPoint" style ="font-size: 15px;"> {{tier.solo_leaguePoints}} LP</span>
                </p>
                <!--image-->
                <div class="tierImgDiv my-2 text-center">
                    <img class="tierImg soloImg" src="" alt="">
                </div>
                <div class="WinLose">
                    <span class="soloWin">{{ tier.solo_wins }}승</span>
                    <span class="soloLose">{{ tier.solo_losses}}패</span>
                    <span class="soloWinRatio">/ </span>
                </div>
                {% else %} <!--if summoner is unranked-->
                <p class="text-center my-2 fs-5">솔로랭크</p>
                <p class="text-center my-3 fs-3 tier-name">
                    <span>Unranked</span>
                </p>
                <div class="tierImgDiv text-center">
                    <img class="tierImg soloImg" src="{% static 'images/ranked-emblems/Unranked.png' %}" alt="unranked">
                </div>
                
                {% endif %}
            </div>
            <!--free rank-->
            <div class="rank-box free-rank">
                {% if tier.free.rank|length > 0 %} <!-- if summoner is ranked -->
                <p class="text-center my-2 fs-5">자유 5:5 랭크</p>
                <p class="text-center my-2 fs-3 tier-name">
                    <span class="freeRank">{{ tier.free_tier }}</span>
                    <span class="freeTier"> {{ tier.free_rank }}</span><br>
                    <span class="freePoint" style="font-size: 15px;"> {{tier.free_leaguePoints}} LP</span>
                </p>
                <!--image-->
                <div class="tierImgDiv my-2 text-center">
                    <img class="tierImg freeImg" src="" alt="">
                </div>
                <div class="WinLose">
                    <span class="freeWin">{{ tier.free_wins }}승</span>
                    <span class="freeLose">{{ tier.free_losses}}패</span>
                    <span class="freeWinRatio">/ </span>
                </div>
                {% else %} <!--if summoner is unranked-->
                <p class="text-center my-2 fs-5">자유 5:5 랭크</p>
                <p class="text-center my-3 fs-3 tier-name">
                    <span>Unranked</span>
                </p>
                <div class="tierImgDiv text-center">
                    <img class="tierImg freeImg" src="{% static 'images/ranked-emblems/Unranked.png' %}" alt="unranked">
                </div>

                {% endif %}
            </div>
        </div>
    </div>
    <!-- rank-info end -->
    <!--소환사 정보 End-->

{% else %} <!--소환사 이름이 존재 X(Error)-->
    <!--Error Start-->
    <div class="error-box alert alert-danger align-text-top" role="alert">
        <h1>소환사 '{{ userName }}'에 대한 정보가 존재하지 않습니다!</h1>
    </div>
    <div class="error-img">
        <img class="rounded mx-auto d-block" src="{% static 'images/not_found.png' %}" alt="not_found">
    </div>

    <div class="empty"></div>
    
    <!--Error End-->
{% endif %}
</div>
{%endblock%}

{% block script %}
<script type="text/javascript">
    DJANGO_STATIC_URL = '{{STATIC_URL}}';
</script>
<script type="text/javascript" src="{% static 'js/summoner.js' %}"></script>
{% endblock script %}