{% extends 'base.html' %}
{% load summoner_filter %}
{% load static %}

{% block title %}
{% if user.summoner_name %}
 소환사 : {{ user.summoner_name }}
{% else %}
 소환사 정보 없음
{% endif %} 
{% endblock title %}

{% block css_link %}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/summoner.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock css_link %}


{%block content%}
<div class="container-fluid">

    <!-- search box -->
    <div class="serach-box">
        {% if user.summoner_name %}
        <button type="button" class="renewBtn btn btn-primary">
            <span class ="renewText">프로필 갱신</span>
            <div class="spinner-border" style="display: none;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </button>
        {% endif %}
        <form class="search-form" action = "/summoner/" method="get" autocomplete="off">
            {% csrf_token %}
            <div class="input-group input-group-sm mb-3 summoner-search-box">
                <span class="input-group-text" id="inputGroup-sizing-default">소환사명</span>
                <input type="text" required="required" name="userName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
                <button type="submit" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'images/search-icon.png' %}" class="search-icon">
                </button>
            </div>
        </form>
    </div>
    <!-- search box end -->

{% if user.summoner_name %} <!-- 소환사 정보가 존재하면 -->

    <!--소환사 정보 Start-->

    <!-- 레벨 및 아이콘-->
    <div class="summoner-info mt-4">
        <p class="text-center">
            <span class="summonerName fs-1">{{ user.summoner_name }}</span>
        </p>
        <div class="icon-frame mt-3 text-center">
            <!--summoner icon-->
            <img class="summonerIcon rounded-circle" src="http://ddragon.leagueoflegends.com/cdn/12.2.1/img/profileicon/{{user.summoner_icon}}.png">
        </div>
        
        <p class="summonerLevel bg-dark rounded-pill text-center py-1" style="color: white;">{{user.summoner_level}}</p>
    </div>

    <!-- solo-rank info / free-rank info -->
    <!--solo rank-->
    <div class="rank-info my-5">
        <div class="rank-wrap">
            <div class="rank-box solo-rank">
                {% if user.solo_tier|length > 0 %} <!--if summoner is ranked-->
                <p class="text-center my-2 fs-5">솔로랭크</p>
                <p class="text-center my-2 fs-3 tier-name">
                    <span class="soloRank">{{ user.solo_tier }}</span>
                    <span class="soloTier"> {{ user.solo_rank }}</span><br>
                    <span class="soloPoint" style ="font-size: 15px;"> {{user.solo_leaguePoints}} LP</span>
                </p>
                <!--image-->
                <div class="tierImgDiv my-2 text-center">
                    <img class="tierImg soloImg" src="" alt="">
                </div>
                <div class="WinLose">
                    <span class="soloWin">{{ user.solo_wins }}승</span>
                    <span class="soloLose">{{ user.solo_losses}}패</span>
                    <span class="soloWinRatio">/ </span>
                </div>
                {% else %} <!--if summoner is unranked-->
                <p class="text-center my-2 fs-5">솔로랭크</p>
                <p class="text-center my-3 fs-3 tier-name">
                    <span>Unranked</span>
                </p>
                <div class="tierImgDiv text-center">
                    <img class="tierImg soloImg" src="{% static 'images/ranked-emblems/Unranked.png' %}" alt="unranked">
                </div>
                
                {% endif %}
            </div>
            <!--free rank-->
            <div class="rank-box free-rank">
                {% if user.free_tier|length > 0 %} <!-- if summoner is ranked -->
                <p class="text-center my-2 fs-5">자유 5:5 랭크</p>
                <p class="text-center my-2 fs-3 tier-name">
                    <span class="freeRank">{{ user.free_tier }}</span>
                    <span class="freeTier"> {{ user.free_rank }}</span><br>
                    <span class="freePoint" style="font-size: 15px;"> {{user.free_leaguePoints}} LP</span>
                </p>
                <!--image-->
                <div class="tierImgDiv my-2 text-center">
                    <img class="tierImg freeImg" src="" alt="">
                </div>
                <div class="WinLose">
                    <span class="freeWin">{{ user.free_wins }}승</span>
                    <span class="freeLose">{{ user.free_losses}}패</span>
                    <span class="freeWinRatio">/ </span>
                </div>
                {% else %} <!--if summoner is unranked-->
                <p class="text-center my-2 fs-5">자유 5:5 랭크</p>
                <p class="text-center my-3 fs-3 tier-name">
                    <span>Unranked</span>
                </p>
                <div class="tierImgDiv text-center">
                    <img class="tierImg freeImg" src="{% static 'images/ranked-emblems/Unranked.png' %}" alt="unranked">
                </div>

                {% endif %}
            </div>
        </div>
    </div>
    <!-- rank-info end -->

    <!-- game record card start -->
    <div class="record">

        <section class="record-section">

            <div class="record-container swiper mySwiper">
                <div class="record-content swiper-wrapper">
                    
                    {% for r in record%}
                    <div class="card swiper-slide" data-match-id={{r.match_ID}} data-result={{r.game_result}}>
                        <div class="card-content">
                            <div class="champion-img">
                                <img src="https://ddragon.leagueoflegends.com/cdn/12.2.1/img/champion/{{r.champ_name}}.png" alt="Talon">
                            </div>
                            <div class="champion-name">
                                <span class="name">{{r.champ_name|eng_to_kor}}</span>
                            </div>
                            <div class="date-type">
                                <span class="date">{{r.game_endtime|unix_to_date}}</span>
                                <span class="type">{{r.queue_ID|det_game_type}}</span>
                            </div>
                            <div class="result-time">
                                <span class="result">{{r.game_result|det_win_lose}}</span><br>
                                <span class="time">{{r.game_duration|sec_to_min}}분</span>
                            </div>
                            <div class="game-kda">
                                <span class="kill">{{r.kill}}</span>/<!--
                             --><span class="death">{{r.death}}</span>/<!--
                             --><span class="assist">{{r.assist}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    {% comment %} 카드 형식 예시:

                    <div class="card card-win swiper-slide">
                        <div class="card-content">
                            <div class="champion-img">
                                <img src="https://ddragon.leagueoflegends.com/cdn/12.2.1/img/champion/Talon.png" alt="Talon">
                            </div>
                            <div class="champion-name">
                                <span class="name">탈론</span>
                            </div>
                            <div class="date-type">
                                <span class="date">1/30</span>
                                <span class="type">솔로랭크</span>
                            </div>
                            <div class="result-time">
                                <span class="result">승리</span><br>
                                <span class="time">32분</span>
                            </div>
                            <div class="game-kda">
                                <sapn class="kda">8/0/3</sapn>
                            </div>
                        </div>
                    </div>

                    {% endcomment %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>

    </section>
    </div>
    <!-- game record end-->

    <!--소환사 정보 End-->

{% else %} <!--소환사 이름이 존재 X(Error)-->
    <!--Error Start-->
    <div class="error-box alert alert-danger align-text-top" role="alert">
        <h1>소환사 '{{ userName }}'에 대한 정보가 존재하지 않습니다!</h1>
    </div>
    <div class="error-img">
        <img class="rounded mx-auto d-block" src="{% static 'images/not_found.png' %}" alt="not_found">
    </div>

    <div class="empty"></div>
    
    <!--Error End-->
{% endif %}
</div>
{%endblock%}

{% block script %}
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 30,
        slidesPerGroup: 4,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
    });
    </script>

<script type="text/javascript">
    DJANGO_STATIC_URL = '{{STATIC_URL}}';
</script>
<script type="text/javascript" src="{% static 'js/summoner.js' %}"></script>
<script type="text/javascript" src="{% static 'js/renew.js' %}"></script>
<script type="text/javascript" src="{% static 'js/record.js' %}"></script>
{% endblock script %}